# MySQL
MYSQL_DATABASE=benchmarkinator
MYSQL_USER=benchmarkinator
MYSQL_PASSWORD=benchmarkinatorpassword
MYSQL_ROOT_PASSWORD=

# SQL Logs
SQL_ECHO=false

# API
API_KEY=benchmarkinator-dev-key-2024

# Ports
MYSQL_PORT=3306
API_PORT=12345

# Web UI Authentication
WEBADMIN=admin
WEBPASSWORD=admin123

# This is for populating the hardware tables with some known hardware.
# Change to true for enabling
LOAD_HARDWARE_DATA=false
# Options: retro or retroextended or modern
# retro is up to 2005, extended goes up to 2008 and modern is well, modern.
HARDWARE_ERA=retro|retroextended|modern


