# MySQL
MYSQL_DATABASE=benchmarkinator
MYSQL_USER=benchmarkinator
MYSQL_PASSWORD=benchmarkinatorpassword
MYSQL_ROOT_PASSWORD=

# API
API_KEY=benchmarkinator-dev-key-2024

# Web UI Authentication
WEBADMIN=admin
WEBPASSWORD=admin1234

# Ports
MYSQL_PORT=3306
API_PORT=12345
